{
    "root": true,
    "extends": [
        "@pxseu/eslint-config"
    ],
    "parserOptions": {
        "project": "./tsconfig.eslint.json"
    },
    "rules": {
        "@typescript-eslint/indent": "off"
    }
}