{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "project": "./tsconfig.eslint.json"
    },
    "extends": [
        "airbnb-typescript/base",
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ],
    "rules": {
        "@typescript-eslint/quotes": [
            "error",
            "double"
        ],
        "@typescript-eslint/indent": [
            "error",
            "tab"
        ],
        "func-names": [
            "error",
            "as-needed"
        ],
        "no-underscore-dangle": "off",
        "import/prefer-default-export": "off",
        "consistent-return": "off"
    }
}